<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>f-grand_private hair salon</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://assets.peraichi.com/template_root/v2/template_files/css/style.css?1782448607" rel="stylesheet">
<link href="https://assets.peraichi.com/template_root/v2/template_files/css/theme/powerful.css?1782448608" rel="stylesheet" id="js-theme-css-file" data-filename="powerful.css">

<script src="https://assets.peraichi.com/js/const_common.js"></script><script src="https://assets.peraichi.com/js/const_env.js"></script><script src="https://webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&amp;aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/5e6d6756-df39-46b5-a3b1-f2ea1cd9d8c2/ogp/2423995.png">
<meta property="og:url" content="https://w9fhv.hp.peraichi.com"><script type="text/javascript" src="https://assets.peraichi.com/js/libs/lazysizes.min.js?1782448606"></script><script type="text/javascript" src="https://assets.peraichi.com/js/lazyLoad.js?1782448606"></script><script type="text/javascript" src="https://assets.peraichi.com/cjs/dist/peraichi_setting.js?1782448913"></script>
<link rel="canonical" href="index.html" /></head>
  <body class="theme-base theme-blank template-theme-powerful fp_fp-tsuku_a_rd_gothic_std-m" data-template-name="blank" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 274px;" data-is-initial-val-of-template-theme="18">
        <div class="s_navigation_fixed p-header-fixed p-header-nav-floating-btn p-header-nav-floating-btn--v2 pera1-section block" data-structure="b-premium-header-nav-floating-btn--fixed" data-block-name="フローティングメニュー（PC上部固定/スマホ上下固定）" id="section-2" data-optional-block-settings-key="0">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i>このブロックは画面サイズによって見た目が変化する特殊なブロックです<br>※編集・削除ができる項目も画面サイズによって異なります<br><br>詳細はヘルプページの「フローティングメニューブロックの編集」をご確認ください</div>
  <div class="p-header-nav-floating-btn__top grid-wrapper grid-wrapper--lg">
    <div class="p-header-nav-floating-btn__top-outer-row">
      <div class="p-header-nav-floating-btn__top-btns">
        <div class="p-header-nav-floating-btn__top-btns-row">
          <div class="p-header-nav-floating-btn__text-pc u-prmd">
            <div class="u-mbxs pera1-removable">
              <div data-structure="e-text" class="pera1-editable font-size-20px">072-655-8339</div>
            </div>
            <div class="pera1-removable">
              <div data-structure="e-text" class="pera1-editable font-size-14px"><div>受付時間:11:00~18:00（水曜定休）</div></div>
            </div>
          </div>
          
          <div class="p-header-nav-floating-btn__editable-btn pera1-removable">
            <div class="c-btn c-btn--sm"><a class="pera1-editable" href="index.html#section-1" data-structure="e-btn" style="background-color: rgb(204, 14, 100);" target="_self">ご予約はお電話で</a>
            </div>
          </div>
          <div class="p-header-nav-floating-btn__sp-icon-btn pera1-removable" style="">
            <div class="c-img c-img--responsive c-img--responsive-v"><img class="pera1-editable" src="ic_tel_square.svg" alt="" data-structure="e-img" style="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-header p-header-nav-floating-btn__bottom">
    <div class="section">
      <div class="m_navigation p-m_navigation u-align-center pera1-editable" data-pera1-type="navigation" data-bgcolor="" style="text-align: center;">
        <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
          <div class="p-navigation row middle-xs">
            <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
              <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                <div class="p-header__nav-heading p-header__logo c-img c-img--responsive u-align-left pera1-removable" data-transform-translate="{&quot;desktop&quot;:{&quot;x&quot;:-16,&quot;y&quot;:97}}" style="--user-transform-translate-x-desktop: -16px;--user-transform-translate-y-desktop: 97px;"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 609px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 61.083743842364534%;overflow: hidden;">
                    <img src="f-grand___.png" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;:0,&quot;y&quot;:0,&quot;scale&quot;:&quot;0.45&quot;,&quot;round&quot;:0,&quot;roundType&quot;:&quot;circle&quot;,&quot;type&quot;:&quot;origin&quot;,&quot;frame&quot;:&quot;origin&quot;,&quot;orient&quot;:&quot;horizontal&quot;,&quot;aspect&quot;:&quot;4:3&quot;}">
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 61.08374384236453%;margin: 0 auto;background-image: url(f-grand___.png);background-position: center;background-size: cover;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(0.45);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -61.08374384236453%;">
                        <img src="f-grand___.png" style="display: block;opacity: 0;pointer-events: none;" alt="">
                    </div>
                </figure>
            </div>
                </div>
              </div>
              <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
            </div>
            <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg font-size-18px" data-textcolor="#333" style="color: rgb(51, 51, 51);"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-main-set-2" data-block-name="メイン(中央寄せ+ボタン)" id="section-38" data-optional-block-settings-key="1">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable"
     style="background-image: url('main-visual.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;"
     data-bg-key="0"
     data-bgcolor="">
    <div class="grid-wrapper">
      <div class="row middle-xs center-xs p-main">
        <div class="col-sm-6 col-xs-12">
          <div class="c-inner c-inner--lg c-inner--vertical">
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-40" data-optional-block-settings-key="2">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="u-color-light u-fssm pera1-removable">
          <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;"><span style="color: #e8412e;" data-custom-pc-fontsize="10px">● ● ● ● ●</span></div>
</div>
        </div>
        <div class="c-heading c-heading--bdr-btm pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><div style="text-align: center;"><span data-custom-pc-fontsize="20px">茨木市にある 完全プライベートサロン</span> <strong>&nbsp;<span style="color: #c13a2c;">f-grand&nbsp;</span></strong><span style="color: #c13a2c;" data-custom-pc-fontsize="18px">エフグランド</span></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-cards-img-right--2col" data-block-name="右画像(2列)" id="section-42" data-optional-block-settings-key="3">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper c-wrapper--lg">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div data-structure="m-cards-img-right">
          <div class="grid-wrapper grid-wrapper--full">
            <div class="row center-xs row-item-gutter--lg">
              <div class="u-mbmd col-xs-12 col-sm-12 col-md-6 pera1-removable">
                <div data-structure="m-card-img-right">
                  <div class="grid-wrapper">
                    <div class="row center-xs middle-xs">
                      <div class="col-xs-12 col-sm-4 basis-auto-sm pera1-removable">
                        <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="file.jpg" alt="" data-structure="e-img" style="">
                        </div>
                      </div>
                      <div class="col-sm center-xs start-sm first-sm pera1-removable">
                        <div class="c-heading c-heading--sm u-mbmd pera1-removable">
                          <div data-structure="e-heading" class="pera1-editable"><div>
<p><span style="color: #c13a2c;" data-custom-pc-fontsize="20px">自然由来のヘアケア製品を使用。</span></p>
</div>
</div>
                        </div>
                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                          <div data-structure="e-text" class="pera1-editable"><p>有機栽培植物から作られたオーガニックのカラー剤をはじめ、髪や頭皮に負担の少ない自然由来の製品を使用しています。</p>
<p>＊ミルボン取扱店</p></div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-mbmd col-xs-12 col-sm-12 col-md-6 pera1-removable" data-elem-name="m-card-img-right">
                <div data-structure="m-card-img-right">
                  <div class="grid-wrapper">
                    <div class="row center-xs middle-xs">
                      <div class="col-xs-12 col-sm-4 basis-auto-sm pera1-removable">
                        <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="shampoo.jpg" alt="" data-structure="e-img" style="">
                        </div>
                      </div>
                      <div class="col-sm center-xs start-sm first-sm pera1-removable">
                        <div class="c-heading c-heading--sm u-mbmd pera1-removable">
                          <div data-structure="e-heading" class="pera1-editable"><div><span style="color: #c13a2c;" data-custom-pc-fontsize="20px">ヘッドスパのような心地よさを。</span></div>
</div>
                        </div>
                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                          <div data-structure="e-text" class="pera1-editable">炭酸泉によるマッサージシャンプーとじんわり温めながら浸透させる艶髪トリートメント。静かな空間でのリラックスタイムをぜひ満喫してください。</div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div><div class="u-mbmd col-xs-12 col-sm-12 col-md-6 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="m-card-img-right" style="opacity: 0; height: 50px;" data-nosnippet="">
                <div data-structure="m-card-img-right">
                  <div class="grid-wrapper">
                    <div class="row center-xs middle-xs">
                      <div class="col-xs-12 col-sm-4 basis-auto-sm pera1-removable">
                        <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="im_image_square.svg" alt="" data-structure="e-img">
                        </div>
                      </div>
                      <div class="col-sm center-xs start-sm first-sm pera1-removable">
                        <div class="c-heading c-heading--sm u-mbmd pera1-removable">
                          <div class="pera1-editable" data-structure="e-heading"><strong>小見出し</strong></div>
                        </div>
                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                          <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                        </div>
                        <div class="c-btn c-btn--sm u-mbmd pera1-removable"><a class="pera1-editable" href="javascript:void(0);" data-structure="e-btn">ボタン</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img" data-block-name="画像" data-optional-block-settings-key="4" id="section-54">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3" data-bgcolor="#FDF6EA" style="background-color: rgb(253, 246, 234); --block-bg-color: #FDF6EA;">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="file.jpg.1" alt="" data-structure="e-img" style="">
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img-full-gallery--4col" data-block-name="ギャラリー(4列・余白なし)" id="section-36" data-optional-block-settings-key="5">
  <div data-structure="m-img-full-gallery--4col">
    <div class="grid-wrapper grid-wrapper--full">
      <div class="row row-item-gutter--none middle-xs center-reset--4col">
        <div class="col-xs-3 col-sm-3 pera1-removable">
          <div class="c-img c-img--full u-align-center"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 2309px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 100%;overflow: hidden;">
                    <img src="IMG_0817.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;:0,&quot;y&quot;:0,&quot;scale&quot;:1,&quot;round&quot;:0,&quot;roundType&quot;:&quot;circle&quot;,&quot;type&quot;:&quot;origin&quot;,&quot;frame&quot;:&quot;aspect&quot;,&quot;orient&quot;:&quot;square&quot;,&quot;aspect&quot;:&quot;4:3&quot;}">
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 118.49285404937203%;margin: 0 auto;background-image: url(IMG_0817.jpg);background-position: center;background-size: 100% auto;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(1);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -118.49285404937203%;">
                        <img src="IMG_0817.jpg" style="display: block;opacity: 0;pointer-events: none;" alt="">
                    </div>
                </figure>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 pera1-removable" data-transform-translate="{&quot;desktop&quot;:{&quot;x&quot;:14,&quot;y&quot;:-1}}" style="--user-transform-translate-x-desktop: 14px;--user-transform-translate-y-desktop: -1px;">
          <div class="c-img c-img--full u-align-center"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 2448px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 100%;overflow: hidden;">
                    <img src="F82D76E9-FF8D-4D5E-9317-4A2A45544923.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;:0,&quot;y&quot;:0,&quot;scale&quot;:1,&quot;round&quot;:0,&quot;roundType&quot;:&quot;circle&quot;,&quot;type&quot;:&quot;origin&quot;,&quot;frame&quot;:&quot;aspect&quot;,&quot;orient&quot;:&quot;square&quot;,&quot;aspect&quot;:&quot;4:3&quot;}">
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 133.33333333333334%;margin: 0 auto;background-image: url(F82D76E9-FF8D-4D5E-9317-4A2A45544923.jpg);background-position: center;background-size: 100% auto;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(1);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -133.33333333333334%;">
                        <img src="F82D76E9-FF8D-4D5E-9317-4A2A45544923.jpg" style="display: block;opacity: 0;pointer-events: none;" alt="">
                    </div>
                </figure>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 pera1-removable">
          <div class="c-img c-img--full u-align-center"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 2862px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 100%;overflow: hidden;">
                    <img src="IMG_0815.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;:0,&quot;y&quot;:0,&quot;scale&quot;:1,&quot;round&quot;:0,&quot;roundType&quot;:&quot;circle&quot;,&quot;type&quot;:&quot;origin&quot;,&quot;frame&quot;:&quot;aspect&quot;,&quot;orient&quot;:&quot;square&quot;,&quot;aspect&quot;:&quot;4:3&quot;}">
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 133.33333333333334%;margin: 0 auto;background-image: url(IMG_0815.jpg);background-position: center;background-size: 100% auto;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(1);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -133.33333333333334%;">
                        <img src="IMG_0815.jpg" style="display: block;opacity: 0;pointer-events: none;" alt="">
                    </div>
                </figure>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 1120px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 100%;overflow: hidden;">
                    <img src="f-grand.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings="{&quot;x&quot;:0,&quot;y&quot;:0,&quot;scale&quot;:&quot;1.35&quot;,&quot;round&quot;:0,&quot;roundType&quot;:&quot;circle&quot;,&quot;type&quot;:&quot;origin&quot;,&quot;frame&quot;:&quot;aspect&quot;,&quot;orient&quot;:&quot;square&quot;,&quot;aspect&quot;:&quot;4:3&quot;}">
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 84.375%;margin: 0 auto;background-image: url(f-grand.jpg);background-position: center;background-size: 100% auto;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(1.35);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -100%;">
                        <img src="f-grand.jpg" style="display: block;opacity: 0;pointer-events: none;" alt="">
                    </div>
                </figure>
            </div>
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="col-img-gallery" style="opacity: 0; height: 50px;" data-nosnippet="">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="im_image_square.svg" alt="" data-structure="e-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-btn-contact" data-block-name="お問い合わせ（ボタン２つ）" id="section-14" data-optional-block-settings-key="6">
  <div class="p-btn-contact c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4" style="background-image: url(https://w9fhv.hp.peraichi.com/&quot;//cdn.peraichi.com/userData/5e6d6756-df39-46b5-a3b1-f2ea1cd9d8c2/img/2b3f9a4e-ae01-4dc8-a812-13786a22e74b/f-grand-_.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bgcolor="">
    <div class="c-wrapper c-wrapper--no-gutter u-align-center">
      <div class="p-btn-contact__contact-area-wrapper c-inner--lg u-pblg">
        <div class="p-btn-contact__contact-area-inner c-wrapper c-wrapper--sm c-inner u-pbmd">
          <div class="c-heading pera1-removable u-mbxs">
            <h2 data-structure="e-heading" class="pera1-editable"><div><strong>メンズ・ペア予約OK</strong></div></h2>
          </div>
          <div class="pera1-removable">
            <div data-structure="e-text" class="pera1-editable">特殊なスタイルをご希望の場合は事前にご相談いただきますとスムーズです。</div>
          </div>
          <div class="p-btn-contact__button-wrapper u-flex c-inner u-pbmd">
            
            <div class="c-btn pera1-removable u-width-100per" data-transform-translate="{&quot;desktop&quot;:{&quot;x&quot;:2,&quot;y&quot;:0}}" style="--user-transform-translate-x-desktop: 2px;--user-transform-translate-y-desktop: 0px;"><a class="pera1-editable" href="index.html" data-structure="e-btn" target="_blank">ご予約優先制</a>
            </div>
          </div>
          <div class="p-btn-contact__tel-wrapper pera1-removable c-inner--sm u-pbsm">
            <div class="pera1-removable">
              <div data-structure="e-text" class="pera1-editable"><div><strong>TEL 072-655-8339</strong></div></div>
            </div>
            <div class="pera1-removable">
              <div data-structure="e-text" class="pera1-editable"><div>受付時間 11:00〜18:00(水曜定休)<br>オーナー・スタイリスト／藤原 浩</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-has-shoulder" data-block-name="小見出し" id="section-47" data-optional-block-settings-key="7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="u-color-light u-fssm pera1-removable">
          <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">ACCESS</div></div>
        </div>
        <div class="c-heading c-heading--bdr-btm pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">アクセス</div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-map-and-table--reverse" data-block-name="右地図+テーブル" id="section-13" data-optional-block-settings-key="8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg center-xs">
            <div class="col-xs-12 col-md-6 start-xs pera1-removable">
              <div class="c-tr--bdr c-tr--bdr-btm u-mbmd">
                <table data-structure="m-table">
                  <tbody class="pera1-sortable">
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>住所</strong></th>
                      <td data-structure="e-td" class="pera1-editable"><p>〒567-0826 茨木市大池１ ｰ10ｰ35<br>コトブキマンション 1F</p></td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>電話番号</strong></th>
                      <td data-structure="e-td" class="pera1-editable">072-655-8339</td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>アクセス</strong></th>
                      <td data-structure="e-td" class="pera1-editable"><div>阪急「茨木市駅」から徒歩約10分</div></td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr" data-elem-name="tr">
                      <th data-structure="e-th" class="pera1-editable"><b>駐車場</b></th>
                      <td data-structure="e-td" class="pera1-editable">無</td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr" data-elem-name="tr">
                      <th data-structure="e-th" class="pera1-editable"><b>お支払い方法</b></th>
                      <td data-structure="e-td" class="pera1-editable">現金</td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable pera1-ghost pera1-add pera1-multiple" data-structure="e-tr" data-elem-name="tr" style="opacity: 0; height: 50px;" data-nosnippet="">
                      <th class="pera1-editable" data-structure="e-th"><strong>見出し</strong></th>
                      <td class="pera1-editable" data-structure="e-td">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 pera1-removable">
              <div class="c-embedly-object c-embedly-object--responsive">
                <div class="pera1-editable" data-pera1-type="embed_gmap">
                  <iframe src="https://www.google.com/maps/embed/v1/place?q=%E3%80%92567-0826+%E8%8C%A8%E6%9C%A8%E5%B8%82%E5%A4%A7%E6%B1%A0%EF%BC%91+%EF%BD%B010%EF%BD%B035+%E3%82%B3%E3%83%88%E3%83%96%E3%82%AD%E3%83%9E%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%B3+1F&amp;language=ja&amp;zoom=16&amp;maptype=roadmap&amp;key=AIzaSyCucBnVrKinLowf5-ChLoxp-jjWZ82TuTU" frameborder="0" marginwidth="0" marginheight="0" width="100%" height="225px"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="9">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><div>Copyright 2026 f-grand</div>
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  





<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="index.html#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=o75Xbsx6l7sE72m"></script></body></html>